/* <!-- place the contents of this css file, in the <head></head>of your html page when using the responsive table generator code on sites not in UNLcms or the UNL.edu framework --><style> */

table {
  background-color: transparent;
  border-collapse: collapse;
}

/* .dcf-table tbody, .dcf-table thead {
  font-size: 14px;
}
.dcf-table tfoot {
  font-size: 14px;
} */

.dcf-table tbody {
  /*   border-bottom: 1px solid #e3e3e2;
  border-top: 1px solid #e3e3e2 */
}

.dcf-table td,
.dcf-table th {
  /* padding-right: 1.78em */
}

.dcf-table-bordered,
.dcf-table-bordered td,
.dcf-table-bordered th {
  /* border: 1px solid #e3e3e2 */
  border-bottom: 1px solid #C1C1C1;
}

.dcf-table-bordered td:nth-child(1) {
  /* background-color: #fff; */
  color: #5C5C5C;
}

.dcf-table-bordered td,
.dcf-table-bordered th,
.dcf-table-striped td,
.dcf-table-striped th {
  /*   padding-left: 1em;
  padding-right: 1em */
}

.dcf-table-bordered tr:not(:last-child),
.dcf-table-striped tr:not(:last-child) {
  /* border-bottom: 1px solid #e3e3e2 */
}

.dcf-table-striped tbody tr:nth-of-type(2n) {
  /* background-color: #f6f6f5 */
}

.dcf-table thead td,
.dcf-table thead th {
  padding-bottom: .75em;
  vertical-align: middle;

  /* vertical-align: bottom; */
}

.dcf-table tbody td,
.dcf-table tbody th,
.dcf-table tfoot td,
.dcf-table tfoot th {
  padding-top: .75em;
  vertical-align: middle;
  /* vertical-align: top; */
}

.dcf-table tbody td,
.dcf-table tbody th {
  padding-bottom: .75em
}

.dcf-table-bordered thead th {
  /* padding-top: 1.33em */
}

.dcf-wrapper-table-scroll {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 1em;
  position: relative;
  right: 50%;
  width: 100vw;
}

@media only screen and (max-width:768px) {
  .dcf-table-responsive>thead {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }

  .dcf-table-responsive>thead>tr,
  .dcf-table-responsive>tbody>tr {
    display: block;
  }

  .dcf-table-responsive>tbody>tr>td {
    /*     -webkit-column-gap: 3.16vw;
    -moz-column-gap: 3.16vw;
    column-gap: 3.16vw; */
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    text-align: left !important;
  }

  .dcf-table-responsive.dcf-table-bordered,
  .dcf-table-responsive.dcf-table-bordered>thead>tr>th {
    border-width: 0;
  }

  .dcf-table-bordered>tbody>tr>td:nth-child(1) {
    background-color: #999;
    color: #fff;
  }

  .dcf-table-bordered>tbody>tr>td:nth-child(1) a {
    color: #fff;
  }

  .dcf-table-responsive.dcf-table-bordered>tbody>tr>td {
    border-top-width: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .dcf-table-responsive:not(.dcf-table-bordered)>tbody>tr {
    padding-bottom: .75em;
  }

  .dcf-table-responsive:not(.dcf-table-bordered)>tbody>tr>td {
    padding-bottom: 0;
  }

  .dcf-table-responsive:not(.dcf-table-bordered):not(.dcf-table-striped)>tbody>tr td {
    padding-right: 0;
  }

  .dcf-table-responsive.dcf-table-bordered>tbody>tr:last-child>td:last-child {
    /* border-bottom-width: 0 */
  }

  .dcf-table-responsive>tbody>tr>td:before {
    content: attr(data-label);
    float: left;
    font-weight: 700;
    padding-left: 10px;
    /* width: 60px; */
    padding-top: 3px
  }
}